#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

#container {
  margin: auto;
  width: min(90%, 112rem);
}

/* Elemento root é a tag <html></html> */
:root {
  /* font-size: 10px; */

  /*Por padrão, 100% equivale a 16px especificados pelo navegador*/
  font-size: 62.5%; /*62.5% = 10px*/
}

.location,
h1,
.visit p {
  height: initial;
  text-align: initial;
}

.location {
  font-size: 2.4rem;
  text-align: right;
  line-height: 1.5;
}

main h1 {
  font-weight: bold;
  line-height: 0.88;
  margin: clamp(10%, 9vh, 12%) 0 4rem;
  width: min(300px, 80%);
}

.visit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visit p {
  font-size: 2.4rem;
  line-height: 1.5;
  width: clamp(20rem, 20vw, 30rem);
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: initial;
}

.visit a:hover {
  background: #96feff;
  transition: background 0.2s;
}

main h1 {
  animation-delay: 150ms;
  font-size: clamp(4rem, 8vw, 8.4rem);
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}
/* Desktop version*/
@media (min-width: 760px) {
  #container {
    padding: 5rem 2rem;
    /* shorthand background image repeat position /size*/
    background: url("../images/bg.svg") no-repeat 80% /
      clamp(30rem, 54vw, 56rem);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    animation-delay: 50ms;
  }
}
